*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    width: 100%;
    height: 430px;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

.contenido{
    width: 100%;
    margin: 0 auto;
}
header{
    height: 120px;
    background: url(../img/fondo2.jpg);
    width: 100%;
    z-index: 12;
}
.logo{
    width: 30%;
    float: left;
    line-height: 100px;
}
.logo a{
    text-decoration: none;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    color: #fff;
    letter-spacing: 1px;
}
nav{
    width: 30%;
    float: right;
    line-height: 100px;
}
nav a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    margin: 0 10px;
    color: #fff;
    font-family: 'Otomanopee One', sans-serif;
}

header nav a:hover{
    border-bottom: 2px solid #fff;
}

/* ---------------------------------- FORMULARIO ----------------------------------- */

html {
	font-size: 16px;
    font-family: 'Lato', sans-serif;
}

body {
	background: url(../img/pxgray.png);
}

.container {
	max-width: 450px;
	height: auto;
	background-color: #EFEFEF;
	margin: 5% auto;
	padding-bottom: 1rem;
	
}

.form__top {
	width: 100%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem #127fbe;
	margin-bottom: 1rem;
}

.form__top h2 {
	font-weight: bold;
	color: #CAC8C8;
	font-size: 18px;
}

h2 span {
	color: #127fbe;
}

.form__reg {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn__form {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}

.input, .btn__submit, .btn__reset{
	background-color: #EFEFEF;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #C8C8C8 .2rem;
	transition: all .5s;
}

.input:focus {
	border-bottom: solid #127fbe .2rem;
}

.btn__submit, .btn__reset {
	width: 40%;
	border-bottom: none;
	background-color: #31B1E5;
	color: white;
}

.btn__reset {
	background-color: #EDA135;
}

.btn__submit:hover {
	background-color: #4C9ED9;
}

.btn__reset:hover{
	background-color: #FA9535;
}

/* ------------------------------------- FOOTER ---------------------------- */
#footer{
    width: 100%;
    height: 470px;
    background: black;
    color: white;
    overflow: hidden;
}

#footer .wrap > div{
    float: left;
    width: 320px;
    height: 370px;
    margin: 40px;
    padding-left: 150px;
    text-align: center;
    color: white;
    font-family: 'Otomanopee One', sans-serif;
}

#footer a{
    text-decoration: none;
    color: #37bcf9;
    transition: all 300ms;
}

#footer h5{
    display: block;
    background: url(../img/pxgray.png),white;
    height: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Otomanopee One', sans-serif;
    font-size: 27px;
    line-height: 55px;
    color: black;
    border-radius: 5px;
    margin-bottom: 15px;
}

#footer ul{
    text-align: left;
    margin: 20px;
    font-size: 25px;
}

#footer ul li{
    margin-top: 10px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

#footer ul li a{
    display: block;
    height: 40px;
    transition: all 300ms;
}

#footer ul li:hover a{
    padding-left: 40px;
    color: white;
    width: 100%;
}

#footer iframe{
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border-radius: 5px;
    border: 5px solid white;
    box-shadow: 0px 0px 5px gray;
}

#footer img{
    margin-bottom: 15px;
}

#footer #info .edit{
    font-size: 25px;
    font-family: 'Otomanopee One', sans-serif;
    text-transform: uppercase;
}

